*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: iSemiBold;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: iRegular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
body{
    background-color: rgba(0, 0, 0, 0.933);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    width: 350px;
    background-color: rgba(54, 45, 45, 0.289);
    border-radius: 10px;
    padding: 10px;
}
.mImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 20px;
    width: 100px;
}
.name{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: myFirstFont;
}
.loc{
    text-align: center;
    color: #a9ff00fa;
    font-family: iSemiBold;
    font-size: 15px;
    margin-top: 10px;
}
.quote{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: iRegular;
    font-size: 15px;
}
.btns{
    display: grid;
    padding: 15px;
}
.btn{
    background-color: rgb(99 93 93 / 48%);
    color: white;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}